# Add variables for the data directories
export DIR_DATA=$(pwd)/data
export DIR_DATA_RAW=$DIR_DATA/raw
export DIR_DATA_INTERIM=$DIR_DATA/intermediate

# Add variables for the output directory
export DIR_OUTPUT=$(pwd)/outputs

# Add variables for the docs directory
export DIR_DOCS=$(pwd)/docs

# Add variables for the etc directory
export DIR_ETC=$(pwd)/etc
export DIR_SECRETS=$DIR_ETC/secrets

# Add variables for the tests directory
export DIR_TESTS=$(pwd)/tests

# Source .secrets file
source_env ".secrets"

# Add the working directory to PYTHONPATH; allows Jupyter notebooks in the `notebooks/` folder to import `src`
export PYTHONPATH="$PYTHONPATH:$(pwd)"